
#es-de
frontends/es-de/symlinks/downloaded_media
frontends/es-de/symlinks/gamelists

#ra
frontends/retroarch/symlinks

#ppsspp
emulators/ppsspp/symlinks



#roms
!roms/lutris
systeminfo.txt
systems.txt



#common files
bin
node_modules
*.AppImage
*.zip
*.iso
*.ISO
*.mds
*.bin
*.cue
*.exe
*.7z
*.pdf
