*.AppImage
*.zip
*.iso
*.ISO
*.mds
*.bin
*.cue
*.exe
*.7z
*.pdf
*.txt

roms/
node_modules

#ppsspp
emulators/ppsspp/files

#yuzu
emulators/yuzu/files
emulators/yuzu/keys

#es-de
frontends/es-de/files/
systeminfo.txt

#ra
frontends/retroarch/files
